.navbar{
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 100%;
  height: 100px;
  position: sticky;
  top:0;
  z-index: 999;
  transition: 0.5s all ease;

  &.active {
    background-color: white;
    color: black;
  }

  .container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 200px;

    .logo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      .title{
        font-size: 34px;
        font-weight: bold;
        color: blue;
      }
      .text{
        color: gray;
      }
    }

    .desktopNav{
      display: flex;
      gap: 24px;
      align-items: center;
      font-weight: 500;
    }

    .mobileNav{
      position: fixed;
      top: 0;
      right: 0;
      height: 25%;
      width: 100%;
      z-index: 1;
      background-color: white;
      display: flex;
      gap: 5px;

      .closeButton{
        position: fixed;
        top: 28px;
        right: 8px; 
      }

      ul{
        padding: 25px;
        list-style-type: none;
      }
      
      .mobileMenu{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
      }
    }
  }
}