.landing{
  position: relative;
  height: 1600px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .backgroundImage{
    top: 0;
    object-fit: cover;

    video{
      z-index: -10;
    }

    .text{
      position: absolute;
      top: 150px;
      right: 1050px;
      z-index: 10;
      color: lightgray;
      font-weight: bold;
      font-size: 44px;
    }
  }
}