.countcard{
  display: flex;
  align-items: center;
  padding: 100px;
  justify-content:center;
  gap:100px;

  .card{
    border: 1px solid rgb(232, 231, 231);
    padding: 75px 75px;
    align-items: center;
    background-color: lightgray;

    .countup{
      text-align:center;
      color: blue;
      
    }

  }
}